<div id="{{ selector }}" class="huh_google_charts"></div>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
      {{ gc_draw(chart, selector) }}
  });
</script>

